extends ../layout

block content
    a(href='/usuarios') Volver

    br
    br
    br

    h1 Nuevo Usuario

    br
    br

    form(action='/usuarios/create' method='post')
        .form-group
            label(for='nombre') Nombre:
            input#nombre.formcontrol(type='text' name='nombre' value=usuario.nombre class=errors.nombre ? 'is-invalid' : '')
            if errors.nombre
                small#nombreHelp.text-danger
                    = errors.nombre.message
        .form-group
            label(for='email') Email:
            input#nombre.formcontrol(type='text' name='email' value=usuario.email class=errors.email ? 'is-invalid' : '')
            if errors.email
                small#emailHelp.text-danger
                    = errors.email.message
        .form-group
            label(for='pwd') Password:
            input#pwd.formcontrol(type='password' name='password' value=usuario.password class=errors.password ? 'is-invalid' : '')
            if errors.password
                small#pwdHelp.text-danger
                    = errors.password.message
        .form-group
            label(for='confirm_pwd') Confirmar Password:
            input#confirm_pwd.formcontrol(type='password' name='confirm_password' value=usuario.confirm_password class=errors.confirm_password ? 'is-invalid' : '')
            if errors.confirm_password
                small#confirm_passwordHelp.text-danger
                    = errors.confirm_password.message
        br
        br
        input.btn.btn-primary(type='submit' value='OK')